<ion-header-bar align-title="center" class="bar-light">
    <div class="h1 title">微信</div>

</ion-header-bar>
<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-click="messageDetailClick()">
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>
            <ion-item class="item-avatar"  ng-click="messageDetailClick()">
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>
            <ion-item class="item-avatar" >
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>
            <ion-item class="item-avatar" >
                <div style="box-shadow: 10px 10px 5px #1bbb37;width: 50px;height: 50px">
                    <img width="50px"; ng-src="img/adam.jpg">
                </div>

                <h2 style="color: red;background-color: green;border-radius: 10px;border-color: #ffc900;border: 2px solid;box-shadow: 10px 10px 5px #888">小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
                <ion-option-button style="background-color: #ffc900;color: #1BBB37;" ng-click="shareClick()">分享一下</ion-option-button>
                <ion-option-button style="width: 100px" class="button-assertive" ng-click="editClick()">编辑</ion-option-button>
            </ion-item>
            <ion-item class="item-avatar" >
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>
            <ion-item class="item-avatar" >
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>
            <ion-item class="item-avatar" >
                <img ng-src="img/adam.jpg">
                <h2 >小黑</h2>
                <p>你十岁了吗?</p>
                <span class="rj-push-right">10:00</span>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
