<ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.home">
        </button>
    </div>
    <div class="h1 title" ng-bind="message.name">消息详情</div>

    <div class="buttons">
        <button class="button button-icon icon ion-person"></button>
    </div>
    <div style="background-color: gray; bottom: 0;height: 1px"></div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <span>fsdfsdfasdfsadfasfaf</span>
    </ion-content>
</ion-view>
