<ion-tabs class="tabs-icon-top  tabs-color-active-balanced" >
    <ion-tab title="铃铛" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" ui-sref="tab.home">
        <ion-nav-view animation="slide-left-right" name="home" class="tab-item-dark" ng-style=""></ion-nav-view>
    </ion-tab>
    <ion-tab ng-style="" title="发现" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" href="#/tab/found">
        <ion-nav-view animation="slide-left-right" name="found"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/mine">
        <ion-nav-view animation="slide-left-right" name="mine"></ion-nav-view>
    </ion-tab>
</ion-tabs>
